@model IEnumerable<GHAInmobiliaria.Models.Contrato>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Crear">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDesde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoMensual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InmuebleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InquilinoId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDesde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHasta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoMensual)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.InmuebleId)*@
                @(item.Inmueble.Direccion)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.InquilinoId)*@
                @(item.Inquilino.Nombre + " " + item.Inquilino.Apellido )
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id=item.Id  }) |
                @Html.ActionLink("Detalles", "Detalles", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
